asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid==2.3.3
atomicwrites==1.4.0
attrs==19.3.0
Automat==0.8.0
autopep8==1.5
bcrypt @ file:///C:/ci/bcrypt_1597936263757/work
beautifulsoup4==4.8.2
brotlipy==0.7.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
constantly==15.1.0
cryptography==2.8
cssselect==1.1.0
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
iniconfig @ file:///tmp/build/80754af9/iniconfig_1596827328212/work
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
packaging==20.4
parsel==1.5.2
pluggy==0.13.1
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyDispatcher==2.0.5
PyHamcrest @ file:///tmp/build/80754af9/pyhamcrest_1594390921726/work
pylint==2.4.4
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.0.1
pytest-runner==5.2
pywin32==227
queuelib==1.5.0
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
selenium==3.141.0
service-identity @ file:///tmp/build/80754af9/service_identity_1592494375577/work
six==1.14.0
soupsieve==2.0
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
Twisted==19.10.0
urllib3==1.25.8
w3lib==1.21.0
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
zope.interface @ file:///C:/ci/zope.interface_1598606196502/work
